@model UserViewModel
@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="card" style="width: 50%">
    <h1 class="text-center">Crear nuevo usuario</h1>
    <div class="card-body">
        <form asp-action="UserIndex" asp-controller="User" method="post" class="d-flex flex-column gap-4">
            <div>
                <label>Nombre:</label>
                <input required class="form-control" type="text" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label>Fecha de Nacimiento:</label>
                <input required class="form-control" type="date" asp-for="Birthdate" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div>
                <label>Genero:</label>
                <select required class="form-select" asp-for="Gender">
                    <option value='M'>Masculino</option>
                    <option value='F'>Femenino</option>
                    <option value='O'>Otro</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
</div>